@page
@model azure_app_trev.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slots";
}

<div class="text-center">
    <h1 class="display-4">Testing deployment slots</h1>
    <h3>
        Validating deployment slots in Azure App Service for .NET applications.
    </h3>
</div>