@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure For .NET Developers</h1>
    <h3>
        We are here to learn how to build applications using Azure and .NET technologies.
    </h3>
</div>
